<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "logo.svg" %>
  </div>

  <div id="content">
    <h1>Bridge Control</h1>
    <p>Welcome the new way of keeping track of your hands!</p>
  </div>
</div>
